# Виртуальное окружение
venv/
.venv/

# Файлы IDE
.idea/
.vscode/

# Python кеш
__pycache__/
*.pyc

# Файлы окружения
.env
*.env

# Файлы с ключами и учетными данными
credentials.json
*.json

# Файл состояния бота (persistence)
bot_persistence
bot_persistence-journal

# Логи
*.log